*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    letter-spacing: 0.2rem;
}
nav{
    background-color: #fff;
    /* border: 1px solid green; */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    height: 3rem;
    align-items: center;
    font-size: 1.2rem;
}

.nav_logo{
    flex: 0.3;
    color: hsl(205deg 78% 60%)
}
.nav_links{
    flex: 0.2;
    display: flex;
    justify-content: space-between;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: hsl(205deg 86% 17%);
}
a:hover{
    color: hsl(205deg 78% 60%);
}
main{
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
}
h2{
    background-color: #222;
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
    font-weight: 1rem;
}
.color_name{
    color: hsl(205deg 78% 60%);
}
.container{
    /* border: 1px solid red; */
    letter-spacing: 0.2rem;
    text-align: center;
    font-size: 1.7rem;
}
.btn{
    text-transform: uppercase;
    background: transparent;
    color: #222;
    padding: 10px;
    margin-top: 10px;
    letter-spacing: 0.2rem;
    display: inline-block;
    font-weight: 700;
    transition: all 0.3s linear;
    border: 2px solid #222;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}
.btn:hover{
    background-color: #222;
    color: #fff;
}